<template>
  <div class="doacao">
    <b-container fluid>
      <b-row>
        <b-col v-for="animal in animais" v-bind:key="animal.id" class="vivo">
          <strong>Nome: </strong>
          {{animal.nome}}<br/>
          <strong>Sexo: </strong>
          {{animal.sexo == 'M' ? 'Masculino' : 'Feminino' }}<br/>
          <strong>Idade: </strong>
          {{ new Date().getYear() - new Date(animal.data_nascimento).getYear() }} ano(s)<br/>
          <strong>Especie: </strong>
          {{animal.especie == 1 ? 'Cachorro' : 'Gato' }}<br/>
          <strong>Raça: </strong>
          {{animal.nome_raca}}<br/>
        </b-col>
      </b-row>
    </b-container>
    <!--
    <table align="center" style="display: none;">
      <thead>
        <tr>
          <th>
            Nome
          </th>
          <th>
            Raça
          </th>
          <th>
            Sexo
          </th>
          <th>
            Especie
          </th>
          <th>
            Idade
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="animal in animais" v-bind:key="animal.id">
          <td>
            {{animal.nome}}
          </td>
          <td>
            {{animal.nome_raca}}
          </td>
          <td>
            {{animal.sexo == 'M' ? 'Masculino' : 'Feminino' }}
          </td>
          <td>
            {{animal.especie == 1 ? 'Cachorro' : 'Gato' }}
          </td>
          <td>
            {{ this.idade(animal) }}
          </td>
        </tr>
      </tbody>
    </table>
    -->
  </div>
</template>

<script>
import axios from "axios";
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';

export default {
  name: "doacao",
  data: () => ({
    animais: []
  }),
  methods: {
  	idade: function(animal) {
  		const anos = new Date().getYear() - new Date(animal.data_nascimento).getYear();
  		return anos + (anos < 2 ? " ano" : " anos");
  	},
    load: function() {
      axios.get(`http://localhost:8080/doar`)
        .then(response => {
          this.animais = response.data.data;
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  },
  beforeMount() {
    this.load();
  }
};
</script>

<style>
  .vivo {
    border: 1px solid black;
  }
</style>