<template>
  <div class="doacao">
    <v-btn class="botao" @click="novo()" v-bind:class="{ 'showButton': !showForm, 'hideButton': showForm }">NOVO</v-btn>
    <v-form v-bind:class="{ 'showForm': showForm, 'hideForm': !showForm }">
      <label for="nome">Nome: </label>
      <input v-model="nome" /><br/>
      <div v-bind:class="{ 'showInput': !edit, 'hideInput': edit }">
        <label for="raca">Raça: </label>
        <select v-model="raca">
          <option>---</option>
          <option v-for="raca in racas" v-bind:key="raca.id" v-bind:value="raca">{{ raca.nome }}</option>
        </select><br/>
        <label for="sexo">Sexo: </label>
        <select v-model="sexo">
          <option>---</option>
          <option value="M">Masculino</option>
          <option value="F">Feminino</option>
        </select><br/>
      </div>
      <label for="nascimento">Nascimento: </label>
      <input type="date" v-model="nascimento" /><br/>
      <label for="falecimento">Falecimento: </label>
      <input type="date" v-model="falecimento" /><br/>
      <v-btn class="botao" @click="salvar()">SALVAR</v-btn>
    </v-form>
    <b-container fluid>
      <b-row>
        <b-col v-for="animal in animais" v-bind:key="animal.id" v-bind:class="{ 'vivo': !animal.data_falecimento, 'morto': animal.data_falecimento }">
          <strong>Nome: </strong>
          {{animal.nome}}<br/>
          <strong>Sexo: </strong>
          {{animal.sexo == 'M' ? 'Masculino' : 'Feminino' }}<br/>
          <strong>Chip: </strong>
          {{animal.id}}<br/>
          <strong>Idade: </strong>
          {{ new Date().getYear() - new Date(animal.data_nascimento).getYear() }} ano(s)<br/>
          <strong>Está vivo?: </strong>
          {{ animal.data_falecimento ? 'Não' : 'Sim' }}<br/>
          <v-btn class="botao" @click="editar(animal.id)" v-bind:class="{ 'showButton': !showForm, 'hideButton': showForm }">EDITAR</v-btn>
        </b-col>
      </b-row>
    </b-container>
    <!--
    <table align="center" style="display: none;">
      <thead>
        <tr>
          <th>
            Chip
          </th>
          <th>
            Nome
          </th>
          <th>
            Raça
          </th>
          <th>
            Sexo
          </th>
          <th>
            Especie
          </th>
          <th>
            Idade
          </th>
          <th>
            Vivo?
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="animal in animais" v-bind:key="animal.id">
          <td>
            {{animal.id}}
          </td>
          <td>
            {{animal.nome}}
          </td>
          <td>
            {{animal.nome_raca}}
          </td>
          <td>
            {{animal.sexo == 'M' ? 'Masculino' : 'Feminino' }}
          </td>
          <td>
            {{animal.especie == 1 ? 'Cachorro' : 'Gato' }}
          </td>
          <td>
            {{ this.idade(animal) }}
          </td>
          <td>
            {{ animal.data_falecimento ? 'Não' : 'Sim' }}
          </td>
        </tr>
      </tbody>
    </table>
    -->
  </div>
</template>

<script>
import axios from "axios";
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';

export default {
  name: 'home',
  data: () => ({
    animais: [],
    racas: [],
    showForm: false,
    edit: false,
    nome: '',
    raca: null,
    sexo: '',
    nascimento: null,
    falecimento: null,
    id: null,
  }),
  methods: {
  	idade: function(animal) {
  		const anos = new Date().getYear() - new Date(animal.data_nascimento).getYear();
  		return anos + (anos < 2 ? " ano" : " anos");
  	},
    load: function() {
      axios.get(`http://localhost:8080/animais`)
        .then(response => {
          this.animais = response.data.data;
          axios.get(`http://localhost:8080/racas`)
            .then(response => {
              this.racas = response.data.data;
            })
            .catch(e => {
              this.errors.push(e);
            });
        })
        .catch(e => {
          this.errors.push(e);
        });
    },
    editar: function(id) {
        axios.get(`http://localhost:8080/animais/` + id)
          .then(response => {
            const obj = response.data.data;
            this.id = obj.id;
            this.nome = obj.nome;
            this.raca = obj.id_raca;
            this.nascimento = obj.data_nascimento;
            this.falecimento = obj.data_falecimento;
            this.showForm = true;
            this.edit = true;
          })
          .catch(e => {
            this.errors.push(e);
          });
    },
    novo: function() {
      this.id = null;
      this.nome = '';
      this.raca = null;
      this.nascimento = null;
      this.falecimento = null;
      this.edit = false;
      this.showForm = true;
    },
    salvar: function() {
      const agora = new Date();
      const dataAgora = [agora.getDate(), agora.getMonth() + 1, agora.getYear()].join('/');
      axios.post('http://localhost:8080/salvar', {
          editar: this.edit ? 1 : 0,
          id: this.id,
          nome: this.nome,
          raca: this.raca.id,
          especie: this.raca.especie,
          sexo: this.sexo,
          nascimento: this.nascimento,
          falecimento: this.falecimento,
          atualizando: dataAgora,
      }).then(response => {
          this.id = null;
          this.nome = '';
          this.raca = null;
          this.nascimento = null;
          this.falecimento = null;
          this.edit = false;
          this.showForm = false;
          this.load();
      }).catch(() => {
          this.error_login = true;
      })
    },
  },
  beforeMount() {
    this.load();
  }
}
</script>

<style>
  .vivo {
    border: 1px solid black;
  }
  .morto {
    border: 1px solid gray;
    opacity: 0.5;
  }
  .showForm, .showButton, .showInput {
    display: block;
  }
  .hideForm, .hideButton, .hideInput {
    display: none;
  }
  .botao {
    background-color: silver;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0.15em;
    font-size: 75%;
  }
</style>