<template>
  <div class="doacao">
    <table align="center">
      <thead>
        <tr>
          <th>
            Nome
          </th>
          <th>
            Situação
          </th>
          <th>
            Espécie
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="animal in animais" v-bind:key="animal.id">
          <td>
            {{animal.nome}}
          </td>
          <td>
            {{animal.situacao == 1 ? 'Ativo' : 'Inativo'}}
          </td>
          <td>
            {{animal.especie == 1 ? 'Cachorro' : 'Gato' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "doacao",
  data: () => ({
    animais: []
  }),
  methods: {
    load: function() {
      axios.get(`http://localhost:8080/racas`)
        .then(response => {
          this.animais = response.data.data;
        })
        .catch(e => {
          this.errors.push(e);
        });
    }
  },
  beforeMount() {
    this.load();
  }
};
</script>
